<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
    <link rel="stylesheet" href="css/style.css">
    <script defer src="js/vue.min.js"></script>
    <script defer src="js/main.js"></script>
</head>

<body>
    <div class="wrapper">
        <section class="task-board">
            <div class="task-column" id="column1">
                <h3>Нужно сделать</h3>
                <div class="task-list" id="cards1">
                    <div v-for="card in cards" v-if="card.column === 1">
                        {{ card.title }}
                        <button @click="moveCard(card, 2)">В процессе</button>
                        <button @click="moveCard(card, 3)">Завершено</button>
                        <button @click="deleteCard(card)">Удалить</button>
                    </div>
                </div>
                <button @click="addCard(1)">Добавить задачу</button>
            </div>
            <div class="task-column" id="column2">
                <h3>В процессе</h3>
                <div class="task-list" id="cards2">
                    <div v-for="card in cards" v-if="card.column === 2">
                        {{ card.title }}
                        <button @click="moveCard(card, 1)">Нужно сделать</button>
                        <button @click="moveCard(card, 3)">Завершено</button>
                        <button @click="deleteCard(card)">Удалить</button>
                    </div>
                </div>
                <button @click="addCard(2)">Добавить задачу</button>
            </div>
            <div class="task-column" id="column3">
                <h3>Завершено</h3>
                <div class="task-list" id="cards3">
                    <div v-for="card in cards" v-if="card.column === 3" :key="card.id">
                        {{ card.title }}
                        <button @click="moveCard(card, 1)">Нужно сделать</button>
                        <button @click="moveCard(card, 2)">В процессе</button>
                        <button @click="deleteCard(card)">Удалить</button>
                    </div>
                </div>
                <button @click="addCard(3)">Добавить задачу</button>
            </div>
        </section>

    </div>
</body>

</html>