<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
    <link rel="stylesheet" href="css/style.css">
    <script defer src="js/vue.min.js"></script>
    <script defer src="js/main.js"></script>
</head>

<body>
    <div class="wrapper">
        <section class="task-board" id="app">
            <column-component
                v-for="(column, index) in columns"
                :key="index"
                :column="column"
                :column-index="index"
            ></column-component>
                           
            <div class="task-column" id="column2">
                <h3>В процессе</h3>
                <input type="text" v-model="newTaskTitle2" placeholder="Название новой задачи">
                <button @click="addCard(2)">Добавить задачу</button>
                <div class="task-list" id="cards2">
                    <div v-for="card in cards" v-if="card.column === 2" :key="card.id">
                        {{ card.title }}
                        <div v-if="card.title">
                            <ul>
                                <task-component
                                    v-for="(item, index) in card.items"
                                    :key="index"
                                    :item="item"
                                    :card="card"
                                ></task-component>
                            </ul>
                            <input type="text" v-model="card.newItemText" placeholder="Новый пункт списка">
                            <button @click="addItem(card)">Добавить пункт</button>
                        </div>
                        <button @click="moveCard(card, 1)">Нужно сделать</button>
                        <button @click="moveCard(card, 3)">Завершено</button>
                        <button @click="deleteCard(card)">Удалить</button>
                    </div>
                </div>
            </div>
            <div class="task-column" id="column3">
                <h3>Завершено</h3>
                <input type="text" v-model="newTaskTitle3" placeholder="Название новой задачи">
                <button @click="addCard(3)">Добавить задачу</button>
                <div class="task-list" id="cards3">
                    <div v-for="card in cards" v-if="card.column === 3" :key="card.id">
                        {{ card.title }}
                        <div v-if="card.title">
                            <ul>
                                <task-component
                                    v-for="(item, index) in card.items"
                                    :key="index"
                                    :item="item"
                                    :card="card"
                                ></task-component>
                            </ul>
                            <input type="text" v-model="card.newItemText" placeholder="Новый пункт списка">
                            <button @click="addItem(card)">Добавить пункт</button>
                        </div>
                        <button @click="moveCard(card, 1)">Нужно сделать</button>
                        <button @click="moveCard(card, 2)">В процессе</button>
                        <button @click="deleteCard(card)">Удалить</button>
                    </div>
                </div>
            </div>
        </section>

    </div>
</body>

</html>